*.tmp
catalog-v001.xml
src/ontology/catalog-v001.xml
src/ontology/imports/catalog-v001.xml
*.bak
health_can_import.owl
langual2014_problems.xml
*.xml
src/ontology/catalog-v001.xml
src/ontology/catalog-v001.xml
src/ontology/catalog-v001.xml
src/ontology/catalog-v001.xml
